<h3>
 {{ Oras }}
</h3>
<hr />
<form role="form" style="max-width: 500px;">
 <div class="form-group">
  <label for="oras">
   Oras
  </label>
  <input type="text" class="form-control" id="oras" ng-model="oras" />
 </div>
 <div class="form-group">
  <label for="lat">
   Lat:
  </label>
  <input type="text" class="form-control" id="lat" ng-model="lat" />
 </div>
 <div class="form-group">
  <label for="long">
   Long:
  </label>
  <input type="text" class="form-control" id="long" ng-model="long" />
 </div>
 <div class="form-group">
  <label for="country">
   Judet:
  </label>
  <select class="form-control" id="Judete" 
      ng-options="option.jud for option in judets.availableOptions track by option.judID"
      ng-model="judets.selectedOptions[0]">
  </select>
 </div>
 <a href="/list" class="btn btn-info">Back to List</a>
 <button type="submit" class="btn btn-default" ng-click="save()">
  Submit
 </button>
</form>  